[Unit]
Description=GPD Touchscreen Rotation Service
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/gpdtouch service &

[Install]
WantedBy=multi-user.target
