[Unit]
Description=GPD Touchscreen Rotation Service on Wake
After=suspend.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/gpdtouch service wake &

[Install]
WantedBy=suspend.target
